body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
    h1 {
        font-size: 36px;;
        font-weight: bold;
        padding: 10px;
    }

    margin-top: 30px;
    display: inline-block;
    // background-color: red;
}
