body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.container {
  margin-top: 30px;
  display: inline-block; }
  .container h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 10px; }

/*# sourceMappingURL=404.css.map */
