main {
  display: block;
  width: auto;
  padding: 1px; }
  @media (min-width: calc($painting-max-width * 3)) {
    main {
      padding: 0; } }

.row {
  max-width: 1200px;
  margin: 0 auto; }

.painting {
  display: table-cell;
  padding: 1px;
  width: calc(100vw / 3);
  vertical-align: middle;
  text-align: center;
  font-size: 0px;
  transition: padding 0.2s; }
  @media (min-width: calc($painting-max-width * 3)) {
    .painting {
      padding: 0; } }
  .painting img {
    display: table-cell;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    transition: 0.15s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
    @media all and (min-width: 900px) {
      .painting img:hover {
        max-width: 90%;
        max-height: 90%; } }

/*# sourceMappingURL=index.css.map */
