//
// index.scss : scss that is only used for the index.html file
//

// the maximum size for the painting container
$main-max-width: 1200px;

// painting size properties
$painting-max-width: 300px;
$painting-max-height: $painting-max-width;
$painting-zoom-delay: 0.15s;
$painting-zoom-size: 90%;

$painting-padding: 1px;

main {
    display:block;

    width: auto;

    padding: $painting-padding;
    @media (min-width: calc($painting-max-width * 3)) {
        padding: 0;
    }
}

.row {
    max-width: $main-max-width;

    margin: 0 auto;
}

.painting {

    // tablecell is for the 3 column layout
    // and to prevent gaps between the divs
    display: table-cell;

    padding: $painting-padding;
    @media (min-width: calc($painting-max-width * 3)) {
        padding: 0;
    }

    // the width of the painting's is 1 thrith of the display size until a maximum size
    width: calc(100vw / 3);

    // center paintings
    vertical-align: middle;
    text-align: center;

    font-size: 0px;

    transition: padding 0.2s;

    img {
        display: table-cell;
        width: 100%;
        max-width: $painting-max-width;
        max-height: $painting-max-height;

        margin: auto;

        // zoom in animation transition
        transition: $painting-zoom-delay;
        transition-timing-function: cubic-bezier(0.25,0.46,0.45,0.94) 0s;

        @media all and (min-width: 900px) {
              &:hover {
                 max-width: $painting-zoom-size;
                max-height: $painting-zoom-size;
              }
         }
    }

}
