$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family: Verdana;
$font-size: 14px;
$small-screen-width: 500px;

h2  {
    padding-top: 20px;


    font-size: 24px;
}



p {
    margin-bottom: 10px;
    font-size: $font-size;
    font-family: $font-family;
    line-height: 1.5em;
}

b {
    font-weight: bold;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.poem {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;

    transition: padding 0.5s;

    @media (min-width: $small-screen-width) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (min-width: 640px) {
        padding-left: 60px;
        padding-right: 60px;
    }


    p {
        font-family: courier;
        font-size: 16px;
    }

}

#content {
    margin: 0 auto;

    padding-left: 20px;
    padding-right: 20px;

    max-width: 800px;
}
