* {
  color: #222222; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

main {
  color: #222222;
  background-color: #FAFAFA; }

header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #222222;
  color: #222222;
  background-color: white;
  position: relative;
  height: 60px;
  line-height: 60px;
  transition: all 0.5s; }
  @media (min-width: 500px) {
    header {
      height: 80px;
      line-height: 80px; } }
  header h1 {
    position: absolute;
    display: inline-block;
    left: 0;
    text-align: center;
    font-size: 24px;
    padding-left: 20px; }
    @media (min-width: 640px) {
      header h1 {
        right: 0;
        padding-left: 0; } }
    @media (min-width: 500px) {
      header h1 {
        font-size: 42px; } }
  header #info-button {
    top: 0;
    position: absolute;
    line-height: 60px;
    height: 60px;
    width: 100px;
    color: #222222;
    border-left: 1px solid #222222;
    text-align: center;
    right: 0;
    transition: 0.1s;
    transition-timing-function: ease-out; }
    @media (min-width: 500px) {
      header #info-button {
        line-height: 80px;
        height: 80px;
        width: 160px; } }
    header #info-button:hover {
      background-color: lightgray; }

footer {
  display: block;
  width: 100%;
  border-top: 1px solid #222222;
  line-height: 1.5em;
  background-color: white; }
  footer p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    padding: 15px;
    text-align: center; }
    @media (min-width: 500px) {
      footer p {
        font-size: 16px;
        padding: 30px; } }

/*# sourceMappingURL=main.css.map */
