$main-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$main-font-weight: 300;
$main-color: #222222;

$border-style: 1px solid $main-color;

$header-height: 80px;
$header-height-small: 60px;

$header-background-color: white;
$footer-background-color: white;

$info-width: 160px;
$info-width-small: 100px;
$small-screen-width: 500px;

* {
    color: #222222;
}

body {
   font-family: $main-font-family;
   font-weight: $main-font-weight;
}

main {
    color: #222222;
    background-color: #FAFAFA;
}

header {
    display:block;
    width: 100%;

    border-bottom: $border-style;
    color: #222222;

    background-color: $header-background-color;
    position: relative;
    height: $header-height-small;
    line-height: $header-height-small;

    @media (min-width: $small-screen-width) {
        height: $header-height;
        line-height: $header-height;
    }
    transition: all 0.5s;

    h1 {

        position: absolute;
        display: inline-block;
        left: 0;
        text-align: center;
        font-size: 24px;
        padding-left: 20px;

        @media (min-width: 640px) {
            right: 0;
            padding-left: 0;
        }
        @media (min-width: $small-screen-width) {
            font-size: 42px;

        }

    }

    #info-button {
        top: 0;
        position: absolute;
        // vertically center info text
        line-height: $header-height-small;
        height: $header-height-small;
        width: $info-width-small;
        color: $main-color;

        @media (min-width: $small-screen-width) {
            line-height: $header-height;
            height: $header-height;

            width: $info-width;
        }

        border-left: 1px solid $main-color;

        text-align: center;
        right: 0;

        transition: 0.1s;
        transition-timing-function: ease-out;

        &:hover {
            background-color: lightgray;
        }
    }
}

footer {
    display:block;
    width: 100%;

    border-top: $border-style;
    line-height: 1.5em;

    background-color: $footer-background-color;
    p {
        font-family: $main-font-family;
        font-size: 14px;
        padding: 15px;
        text-align: center;

        @media (min-width: $small-screen-width) {
            font-size: 16px;
            padding: 30px;

        }
    }

}
